*,
*::before,
*::after{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* UTILITY CLASSES */

/* HEADER CLASSES */

header {
    height: 5rem;
    width: 100%;
    position: fixed;
    background-color: brown;
    z-index: 1;
}

#logo-mobile{
    width: 3rem;
}

#logo {
    width: 10rem;
}

/* MAIN CLASSES */

main {
    padding-top: 5rem;
}

/* SIDEBAR CLASSES */

#sidebar {
    width: 5rem;
    height: calc(100vh - 5rem);
    background-color: rgb(35, 35, 77);
}

@media screen and (min-width: 992px) {
    #sidebar {
        width: 10rem;
    }
}

/* DASHBOARD CLASSES */

#dashboard-header {
    height: 15rem;
    width: 100%;
    background-color: cadetblue;
}

#dashboard-container {
    height: calc(100vh - 20rem);
    overflow-y: auto;
}

@media screen and (min-width: 992px) {
    #dashboard-header {
        height: 5rem;
    }

    #dashboard-container {
        height: calc(100vh - 10rem);
    }
}
